# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.so

# Environments
.venv/
virtualenv/
env/
venv.bak/

# Editors
.vscode/
.idea/

# Distribution / build
.Python/
build/
dist/
*.egg-info/
*.egg

# MyPy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# uv lock file
uv.lock

# Specific project files to ignore
mcp_document_processor/fichier_test/
